    <div class="banner">
        <a href="/" class="banner-logo-link">
            <img src="/images/WeeBrite.png" alt="WeeBrite Logo" class="banner-logo">
        </a>

        <nav class="banner-nav">
            <a href="/" class="nav-btn">Home</a>
            <a href="/quiz" class="nav-btn">Play</a>
            <a href="/squad" class="nav-btn">Squad Builder</a>
            <% if (!authenticated) { %>
                <a href="/login" class="nav-btn">Login</a>
            <% } else { %>
                <a href="/logout" class="nav-btn">Logout</a>
            <% } %>
        </nav>
    </div>