    <header class="content">
        <div class="left-section">
            <a href="/">
                WeeBrite
            </a>
        </div>

        <nav class="right-section">
            <a href="/" class="nav-button">Home</a>
            <a href="/quiz" class="nav-button">Play</a>
            <a href="/" class="nav-button">Squad Builder</a>
            <a href="/login" class="nav-button">Login</a>
        </nav>

    </header>