<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <style>
        .correct {
            color: green;
        }
        .incorrect {
            color: red;
        }
    </style>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <!-- <form action="/submit" method="post"> -->
        <h1>Who said this quote?</h1>
        <h2 id="question">Question</h2>
        <div class="answer-btns">
            <button class="btn">Answer 1</button>
            <button class="btn">Answer 2</button>
            <button class="btn">Answer 3</button>
            <button class="btn">Answer 4</button>
        </div>

        <button id="next-btn">Next</button>
        <!-- </form> -->

        <script>
            const questions = <%- JSON.stringify(questions || []) %>;
            console.log(questions);

            document.addEventListener("DOMContentLoaded", () => {
                const nextBtn = document.getElementById("next-btn");
                const questionElement = document.querySelector("#question");
                const answerBtns = document.querySelector(".answer-btns");
                let currentQuestionIndex = 0;
                let score = 0;
                let unlocked = [];

                function startQuiz() {
                    currentQuestionIndex = 0;
                    score = 0;
                    nextBtn.innerHTML = "Next";
                    showQuestion();
                }
    
            function showQuestion() {
                resetState();
                let currentQuestion = questions[currentQuestionIndex];
                let questionNo = currentQuestionIndex + 1;
                questionElement.innerHTML = questionNo + '. ' + currentQuestion.question;

                currentQuestion.answers.forEach(answer => {
                    console.log(answer);
                    const button = document.createElement("button");
                    button.innerHTML = answer.name;
                    button.dataset.name = answer.name;
                    button.dataset.character_id = answer.character_id;
                    button.classList.add("btn");
                    answerBtns.appendChild(button);

                    if (answer.correct) {
                        button.dataset.correct = answer.correct;
                    }

                    button.addEventListener("click", selectAnswer)
                });
            }

            function selectAnswer(e) {
                const selectedBtn = e.target;
                const isCorrect = selectedBtn.dataset.correct === 'true';
                console.log(selectedBtn.dataset.name, "WHAT")
                if(isCorrect) {
                    selectedBtn.classList.add('correct');
                    score++;

                } else {
                    selectedBtn.classList.add('incorrect');
                }

                Array.from(answerBtns.children).forEach(button => {
                    if(button.dataset.correct === 'true') {
                        button.classList.add('correct')
                    }
                    button.disabled = true;
                })
                nextBtn.style.display = 'block';
            }

            nextBtn.addEventListener("click", () => {
                currentQuestionIndex++;
                showQuestion();
            })
            function resetState() {
                nextBtn.style.display = "none";
                while(answerBtns.firstChild) {
                    answerBtns.removeChild(answerBtns.firstChild);
                }
            }
            startQuiz();
        });
        </script>
</body>

</html>